{% extends 'user_pages/user_base.html' %}
{% load static %}
{% block content %}
    <!-- BreadCrumb Starts -->
    <div class="breadcrumb-main pb-0" style="background-image: url({% static 'bg/bg8.jpg'%});">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content bread-content text-center pt-10">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Destination  </li>
                        </ul>
                    </nav>
                    <h2 class="mb-0 white text-uppercase">{{ data.tour_name}}</h2>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </div>
    <!-- BreadCrumb Ends -->

    <div class="tabs-navbar1 bg-white sticky1 p-4">
        <div class="row">
            <div class="col-md-12">
                <ul id="tabs" class="nav nav-tabs bordernone">
                    <li class="active"><a data-toggle="tab" href="#description">Highlight</a></li>
                    <li><a data-toggle="tab" href="#iternary">Iternary</a></li>
                    <li><a data-toggle="tab" href="#single-map">Map</a></li>
                    <li><a data-toggle="tab" href="#single-review">Reviews</a></li>
                    <li><a data-toggle="tab" href="#single-comments">Comments</a></li>
                    <li><a data-toggle="tab" href="#single-add-review" class="bordernone">Add Reviews</a></li>
                </ul>
            </div>
        </div>
    </div>
<!-- blog starts -->
    <section class="blog trending destination-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <div class="description-images mb-4">
                            <div class="thumbnail-images">
                                <div class="slider-store">
                                    <div>
                                       <img src="{{data.image1}}" alt="1" style="height:300px;">
                                    </div>
                                    <div>
                                        <img src="{{data.image2}}" alt="1" style="height:300px;">
                                    </div>
                                    <div>
                                        <img src="{{data.image3}}" alt="1" style="height:300px;">
                                    </div>
                                    <div>
                                        <img src="{{data.image4}}" alt="1" style="height:300px;">
                                    </div>
                                    <div>
                                        <img src="{{data.image5}}" alt="1" style="height:300px;">
                                    </div>
                                    <div>
                                        <img src="{{data.image6}}" alt="1" style="height:300px;">
                                    </div>
                                </div>
                                <div class="slider-thumbs">
                                    <div>
                                       <img src="{{data.image1}}" alt="1">
                                    </div>
                                    <div>
                                        <img src="{{data.image2}}" alt="1">
                                    </div>
                                    <div>
                                        <img src="{{data.image3}}" alt="1">
                                    </div>
                                    <div>
                                        <img src="{{data.image4}}" alt="1">
                                    </div>
                                    <div>
                                        <img src="{{data.image5}}" alt="1">
                                    </div>
                                    <div>
                                        <img src="{{data.image6}}" alt="1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="description" id="description">
                            <div class="single-full-title border-b mb-2 pb-2">
                                <div class="single-title">
                                    <h3 class="mb-1" style="text-transform: capitalize">{{ data.tour_tittle}}</h3>
                                    <a class="rating-main d-sm-flex align-items-center">
                                        <p class="mb-0 mr-2"><i class="flaticon-location-pin"></i>{{data.tour_location}}</p>
                                        <div class="rating mr-2">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <span>(1,186 Reviews)</span> &nbsp;&nbsp;
                                        <a href="{% url 'booking_page' id=data.id %}"> <i class="nir-btn-black">BOOK NOW</i>
                                        </a></a>

                                    </div>
                                </div>
                            </div>
                            <div class="description-inner mb-2">
                                <h4>Highlight</h4>
                                <p>{{ data.highlight }}</p>
                            </div>

                            <div class="tour-includes mb-2">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><i class="fa fa-clock-o pink mr-1" aria-hidden="true"></i> {{ data.day}} Days - {{ data.night }} Nights</td>
                                            <td><i class="fa fa-group pink mr-1" aria-hidden="true"></i> Max People :{{ data.max_people }}</td>
                                            <td><i class="fa fa-calendar pink mr-1" aria-hidden="true"></i> {{ data.start_date }} -
                                                {{ data.last_date}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-user pink mr-1" aria-hidden="true"></i> Min Age : 10+</td>
                                            <td><i class="fa fa-map-signs pink mr-1" aria-hidden="true"></i> Pickup : {{ data.pickup_address }}</td>
                                            <td><i class="fa fa-file-alt pink mr-1" aria-hidden="true"></i> Langauge - Hindi , English</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="description-inner mb-2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-2 pr-2">
                                        <div class="desc-box">
                                            <h5 class="mb-1">Departure & Return Location</h5>
                                            <p class="mb-0">{{ data.retuen_location }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-2 pl-2">
                                        <div class="desc-box">
                                            <h5 class="mb-1">Bedroom</h5>
                                            <p class="mb-0">{{ data.bedroom }} Bedrooms</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-2 pr-2">
                                        <div class="desc-box">
                                            <h5 class="mb-1">Departure Time</h5>
                                            <p class="mb-0">{{ data.depature_time }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-2 pl-2">
                                        <div class="desc-box">
                                            <h5 class="mb-1">Tour Charges</h5>
                                            <p class="mb-0"> {{ data.charges }}/- Only</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-2 pr-2">
                                        <div class="desc-box">
                                            <h5 class="mb-1">Price Includes</h5>
                                            <ul>
                                                <li><i class="fa fa-check pink mr-1"></i> Air Fares</li>
                                                <li><i class="fa fa-check pink mr-1"></i> 3 Nights Hotel Accomodation</li>
                                                <li><i class="fa fa-check pink mr-1"></i> Tour Guide</li>
                                                <li><i class="fa fa-check pink mr-1"></i> Entrance Fees</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-2 pl-2">
                                        <div class="desc-box">
                                            <h5 class="mb-1">Security</h5>
                                            <ul>
                                                <li><i class="fa fa-close pink mr-1"></i> Guide Service Fee</li>
                                                <li><i class="fa fa-close pink mr-1"></i> Driver Service Fee</li>
                                                <li><i class="fa fa-close pink mr-1"></i> Any Private Expenses</li>
                                                <li><i class="fa fa-close pink mr-1"></i> Room Service Fees</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description-inner mb-4">
                                <h4>What to Expect</h4>
                                <p>{{ data.what_to_expect }}</p>
                            </div>
                        </div>

                        <div class="accrodion-grp faq-accrodion mb-4" id="iternary" data-grp-name="faq-accrodion">
                            <h4>Iternary</h4>
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h5 class="mb-0"><span>Day 1</span> {{ data.day1_rout }}</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>{{ data.day1_visited_place }}</p></div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h5 class="mb-0"><span>Day 2</span> {{ data.day2_rout }}</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>{{ data.day2_visited_place }}</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h5 class="mb-0"><span>Day 3</span>{{ data.day3_rout }} </h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>{{ data.day3_visited_place }}</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h5 class="mb-0"><span>Day 4</span> {{ data.day4_rout }}</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>{{ data.day4_visited_place }}</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>

                        <div class="single-map mb-4" id="single-map">
                            <h4>Map</h4>
                            <div class="map">
                                <div style="width: 100%">
                                        <iframe src="{{data.map_link}}" height="500"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="single-review mb-4" id="single-review">
                            <h4>Average Reviews</h4>
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="review-box bg-pink text-center pb-4 pt-4">
                                        <h2 class="mb-1 white"><span>4.1</span>/5</h2>
                                        <h4 class="white mb-1">"Feel so much worst than thinking"</h4>
                                        <p class="mb-0 white font-italic">From 140 Reviews</p>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div class="review-progress">
                                        <div class="progress-item">
                                            <p>Cleanliness</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                                    <span class="sr-only">90% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Facilities</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Value for money</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                                    <span class="sr-only">100% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Service</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                    <span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Location</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                                    <span class="sr-only">95% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- blog comment list -->
                        <div class="single-comments single-box mb-4" id="single-comments">
                            <h5 class="border-b pb-2 mb-2">Showing 16 verified guest comments</h5>
                            <div class="comment-box">
                                <div class="comment-image">
                                    <img src="images/reviewer/1.jpg" alt="image">
                                </div>
                                <div class="comment-content">
                                    <h5 class="mb-1">Helena</h5>
                                    <p class="comment-date">April 25, 2019 at 10:46 am</p>
                                    <div class="comment-rate">
                                        <div class="rating mar-right-15">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <span class="comment-title">The worst hotel ever"</span>
                                    </div>

                                    <p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
                                    <div class="comment-like">
                                        <div class="like-title">
                                            <a href="#" class="nir-btn">Reply</a>
                                        </div>
                                        <div class="like-btn pull-right">
                                            <a href="#" class="like"><i class="fa fa-thumbs-up"></i> Like</a>
                                            <a href="#" class="disike"><i class="fa fa-thumbs-down"></i> Dislike</a>
                                            <a href="#" class="love"><i class="flaticon-like"></i> Love</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box">
                                <div class="comment-image">
                                    <img src="images/reviewer/2.jpg" alt="image">
                                </div>
                                <div class="comment-content">
                                    <h5 class="mb-1">Helena</h5>
                                    <p class="comment-date">April 25, 2019 at 10:46 am</p>
                                    <div class="comment-rate">
                                        <div class="rating mar-right-15">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <span class="comment-title">Was too noisy and not suitable for business meetings"</span>
                                    </div>

                                    <p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
                                    <div class="comment-like">
                                        <div class="like-title">
                                            <a href="#" class="nir-btn">Reply</a>
                                        </div>
                                        <div class="like-btn pull-right">
                                            <a href="#" class="like"><i class="fa fa-thumbs-up"></i> Like</a>
                                            <a href="#" class="disike"><i class="fa fa-thumbs-down"></i> Dislike</a>
                                            <a href="#" class="love"><i class="flaticon-like"></i> Love</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- blog review -->
                        <div class="single-add-review" id="single-add-review">
                            <h4>Write a Review</h4>
                            <form action="{% url 'Review' %}" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="{{ y.username }}" name="username" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="{{ y.email }}" name="email" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="comment" placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-btn">
                                            <button type="submit" class="nir-btn">Submit Review</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog Ends -->
<!-- footer starts -->
{% endblock %}