{% extends 'user_pages/user_base.html' %}
{% load static %}
{% block content %}

  <!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-0" style="background-image: url({% static 'bg/bg8.jpg' %});">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Destination </h2>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Destination </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->




    <!-- blog starts -->
    <section class="blog trending destination-b">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="trend-box">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="list-results d-flex align-items-center justify-content-between">
                                    <div class="list-results-sort">

                                    </div>
                                    <div class="click-menu d-flex align-items-center justify-content-between">

                                    </div>
                                </div>
                            </div>
                            {% for x in data %}
                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="trend-item">
                                    <div class="trend-image">
                                       <img src="{{ x.image1 }}" alt="image">

                                    </div>
                                    <div class="trend-content-main">
                                        <div class="trend-content">
                                            <div class="rating pb-1">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <h4 style="text-transform: uppercase"><a href="{% url 'destination_single_full' id=x.id%}">{{ x.tour_name}}</a></h4>
                                            <p class="mb-0 pink"><i class="fa fa-eye mr-1"></i>{{x.number_of_visited_places}} <i class="fa fa-map-marker mr-1 ml-3"></i>
                                                {{ x.tour_location }}</p>
                                        </div>
                                        <div class="trend-last-main">
                                            <p class="mb-0 trend-para">{{ x.tour_tittle}}</p>
                                            <div class="trend-last d-flex align-items-center justify-content-between bg-navy">
                                                <p class="mb-0 white"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    {{ x.day }} days & {{ x.night }} night</p>
                                                <div class="trend-price">
                                                    <p class="price white mb-0">From <span>{{x.charges }}/-</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
<div class="col-lg-12">
                                <div class="pagination-main text-center">
                            <ul class="pagination">
                               {% if data.has_previous %}
                                <li><a href="?page={{data.previous_page_number}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                {% endif %}
                                <li class="active"><a href="#">{{data.number}}</a></li>

                                {% if data.has_next %}
                                <li><a href="?page={{data.next_page_number}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- top destination ends -->
     <!-- top destination starts -->
    <section class="top-destination overflow-hidden">
        <div class="container">
            <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
                <h2 class="m-0 white">Related <span>Tour Packages</span></h2>
                <p class="mb-0 white">Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
            </div>
            <div class="desti-inner">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">New York Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">Armania Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">London Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">Manchester Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">kathmandu Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">Tokyo Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-1">
                        <div class="desti-image">
                            <img src="{% static 'destination/destination9.jpg' %}" alt="desti">
                            <div class="desti-content">
                                <div class="rating mb-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <h4 class="white mb-1">Norwich Tour</h4>
                                <div class="trend-last-main">
                                    <div class="trend-last">
                                        <p class="mb-1 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                        <div class="trend-price">
                                            <p class="price pink mb-0">From <span>$350.00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="#" class="nir-btn">
                                  <span class="white">Book Now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top destination ends -->


   {% endblock %}