<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div style="width:100%;height:300px;background-position: center;  background-image:url(https://international.nd.edu/assets/285097/800x333/istock_515672638_1200x500.jpg)"; >
</div>
 <center> <h4 >Hi {{ username }} !<br>
     Your GhumoindiaCommunity tour ( {{ tour_name }} ) booking is now confirmed ,<br>
     Your Tour Tranasation ID is {{ txn_id }}  and your order ID is {{ order_id }} .<br>
     Enjoy your tour, THANKS FOR BOOKING.<bR>
</h4></center>
   </body>
</html>