{% extends 'user_pages/user_base.html' %}
{% load static %}
{% block content %}

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0" style="background-image: url({% static 'bg/bg8.jpg'%});">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Faq</h2>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->  

    <!-- About detail Start -->
    <section class="faq-main pb-6">
        <div class="container">
            <div class="faq-accordian">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
                            <div class="accrodion active">
                                <div class="" >
                                    <h5>Who We Are?</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>We are now a student of Alpine Institute of technology Ujjain and we start a bussiness that is infront of you,
                                        And we are sour that this travel and tour is friendly with you. So please support to us.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>Wanna know our Special Features?</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>Special feature of our site : 1) We are already wisited that places that we posing and want to visit with you , so please forget all problems that you have to face because we are with you.
                                        <br>2) Payment is safe if any condition you want to your mony back so we are also available for you and help to give your mony back in 3 days .
                                        <br>3) We have bus , train ,and airplane feature with visite with you. </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>Check Your Status</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>You cant check you status that where are you now because we post all photos and media where we visit.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>Why choose us?</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>We are already visited all places where we post to visit.And we are experience to travial</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>How you take your ammount back </h5>
                                </div>
                                <div class="accrodion-content" style="display:block;">
                                    <div class="inner">
                                        <p>You can call us on 9589957396 and say your situation and we give you amount within 3 days.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
                            <div class="accrodion active">
                                <div class="">
                                    <h5>Why my card payment is failing?</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>Dont warry it will be back soon and you cant also pay through G-pay, Phone-Pay, Paytm, Bharat-Pay, Airtal-pay etc</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>Can I upload attachments</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>You can post you fillings on social media , if we love your reaction and contant so we post it on our website.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>Can I create a profile page for business</h5>
                                </div>
                                <div class="accrodion-content" style="display:border-left: ;;">
                                    <div class="inner">
                                        <p>No you can only create or login As a user of travel and tour and visit many places.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>What is the price of posting</h5>
                                </div>
                                <div class="accrodion-content" style="display:block;">
                                    <div class="inner">
                                        <p>NO price for posting your love with us.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="">
                                    <h5>What if we take more person with us </h5>
                                </div>
                                <div class="accrodion-content" style="display:block;">
                                    <div class="inner">
                                        <p>If you are 10 or more then 10 person then we reduce one person ammount in total of ten person ammount . means we will take only nine visiters payment.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- About detail Ends -->

    <!-- Call To Action Starts -->
    <section class="call-to-action pb-10" style="background-image: url({% static 'bg/bg2.jpg'%});">
        <div class="container">
                <div class="section-title section-title-w text-center w-75 mx-auto mb-5 pb-2">
                    <h2 class="mb-2 white">Do You Have Any <span>Questions?</span></h2>
                    <p class="mb-0 white">As opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'</p>
                </div>  
                <div class="reservation-main w-75 mx-auto pl-5 pr-5">
                    <form method="post" action="#" class="">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                               <div class="form-group">
                                    <label class="white">Full Name</label>
                                        <input type="text" id="full-name">
                                </div> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                               <div class="form-group">
                                    <label class="white">Phone No.</label>
                                    <input type="text" id="phone-no">
                                </div> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                               <div class="form-group">
                                    <label class="white">Check In</label>
                                    <div class="input-box">
                                        <input id="date-range0" type="text" placeholder="yyyy-mm-dd">
                                    </div> 
                                </div> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                               <div class="form-group">
                                    <label class="white">Guests</label>
                                    <div class="input-box">
                                        <select class="niceSelect">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                        </select>
                                    </div> 
                                </div> 
                            </div>
                            <div class="col-sm-12">
                               <div class="form-group">
                                <label class="white">Message</label>
                                <textarea name="message"></textarea>
                               </div>
                           </div>
                        </div>
                        
                        <div class="comment-btn text-center">
                            <input type="submit" class="nir-btn" id="submit" value="Send Message">
                        </div>
                    </form>
                </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- Call To Action Ends -->

    <!-- client start -->
    <div class="partners pt-4 pb-4">
        <div class="container-fluid">
            <div class="row attract-slider">
                <div class="col-sm-2">
                    <div class="client-logo item">
                    <a href="#">
                        <img src="{% static 'clients/logo-01.png'%}" alt="" />
                    </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-02.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-03.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-04.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-02.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-03.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-04.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-01.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-02.png'%}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- client ends -->

    {% endblock %}