{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0" style="background-image: url({% static 'bg/bg7.jpg' %});">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- form starts -->
    <section class="about-us">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-sm-12">
                        <div class="about-content">
                            <h4 class="mb-1 blue font-weight-normal">About GhumoIndiaCommunity</h4>
                            <h2>We're truely dedicated to make your travel experience best</h2>
                            <p class="mb-3">Top Tour Operators and Travel Agency. We offering in total 793 tours and holidays throughout the world. Combined we have received 1532 customer reviews and an average rating of 5 out of 5 stars. <br><br>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                            <div class="about-imagelist">
                                <ul class="d-flex justify-content-between">
                                    <li class="mr-2">
                                        <img src="{% static 'destination/destination7.jpg' %}" alt="">
                                    </li>
                                    <li class="mr-2">
                                        <img src="{% static 'destination/destination5.jpg'%}" alt="">
                                    </li>
                                    <li class="mr-2">
                                        <img src="{% static 'destination/destination6.jpg'%}" alt="">
                                    </li>
                                    <li class="mr-2">
                                        <img src="{% static 'destination/destination3.jpg'%}" alt="">
                                    </li>
                                    <li>
                                        <img src="{% static 'destination/destination4.jpg'%}" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="about-image">
                            <img src="{% static 'destination/destination12.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- form ends -->

    <!-- about-us starts -->
    <section class="about-us1 bg-grey pb-6">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-sm-12">
                        <div class="about-content">
                            <h2 class="">Why Choose Us</h2>
                            <p class="mb-2">Top Tour Operators and Travel Agency. We offering in total 793 tours and holidays throughout the world. Combined we have received 1532 customer reviews and an average rating of 5 out of 5 stars. <br>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                            <div class="about-featured mb-0">
                                <ul>
                                    <li>Safety Travel System</li>
                                    <li>Budget-Friendly Tour</li>
                                    <li>Expert Trip Planning</li>
                                    <li>Fast Communication</li>
                                    <li>Right Solution & Guide</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="about-image-main">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 mt-4 mb-4">
                                    <img src="{% static 'new-deal/deal3.jpg'%}" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img src="{% static 'new-deal/deal5.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- why us starts -->
            <div class="why-us pt-4 border-t">
                <div class="why-us-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon mb-2">
                                    <i class="flaticon-call pink"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="#">Advice & Support</a></h4>
                                    <p class="mb-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon mb-2">
                                    <i class="flaticon-global pink"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="#">Air Ticketing</a></h4>
                                    <p class="mb-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon mb-2">
                                    <i class="flaticon-building pink"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="#">Hotel Services</a></h4>
                                    <p class="mb-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon mb-2">
                                    <i class="flaticon-location-pin pink"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="#">Tour Packages</a></h4>
                                    <p class="mb-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- why us ends -->
        </div>
    </section>
    <!-- about-us ends -->

    <!-- our teams starts -->
    <section class="our-team pb-4">
        <div class="container">
            <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
                <h2 class="m-0">Our <span>Team & Guide</span></h2>
                <p class="mb-0">Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
            </div>  
            <div class="team-main">
                <div class="row shop-slider">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'team/ani.jpeg'%}" alt="team">
                            </div>
                            <div class="team-content1 text-center">
                               <h4 class="mb-0 pink">Anivesh Nishad</h4>
                                <p class="mb-0">Cheif Officer</p>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'team/ani (2).jpeg'%}" alt="team">
                            </div>
                            <div class="team-content1 text-center">
                               <h4 class="mb-0 pink">Navin Sloanki</h4>
                                <p class="mb-0">Head Chef</p>
                                
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'team/ani (3).jpeg'%}" alt="team">
                            </div>
                            <div class="team-content1 text-center">
                               <h4 class="mb-0 pink">Himanshu Sunhare</h4>
                                <p class="mb-0">Supervisor</p>
                                
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'team/ani (4).jpeg'%}" alt="team">
                            </div>
                            <div class="team-content1 text-center">
                               <h4 class="mb-0 pink">Karan Bamnawat</h4>
                                <p class="mb-0">Quality Assurance</p>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'team/ani (5).jpeg'%}" alt="team">
                            </div>
                            <div class="team-content1 text-center">
                               <h4 class="mb-0 pink">Cacics Coold</h4>
                                <p class="mb-0">Asst. Chef</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our teams Ends -->

    <!-- Counter -->
    <section class="counter-main pb-6" style="background-image: url({% static 'bg/bg4.jpg'%})">
        <div class="container">
            <div class="counter text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-users white bg-navy mb-1"></i>
                            <h3 class="value mb-0 navy">100</h3>
                            <h4 class="m-0">Happy Customers</h4>
                        </div>    
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-plane mb-1 white bg-navy"></i>
                            <h3 class="value mb-0 navy">50</h3>
                            <h4 class="m-0">Amazing Tours </h4>
                        </div>    
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-chart-bar  white bg-navy mb-1"></i>
                            <h3 class="value mb-0 navy">3472</h3>
                            <h4 class="m-0">In Business</h4>
                        </div>    
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-support  white bg-navy mb-1"></i>
                            <h3 class="value mb-0 navy">523</h3>
                            <h4 class="m-0">Support Cases </h4>
                        </div>    
                    </div>

                </div>
            </div> 
        </div>
        <div class="overlay"></div>
    </section>
    <!-- End Counter -->

    <!-- content-line start -->
    <div class="content-line bg-navy pb-6 pt-6">
        <div class="container">
            <div class="content-line-inner">
                <div class="row d-md-flex align-items-center justify-content-between">
                    <div class="col-lg-9 col-md-9">
                        <p class="mb-0 white h4">
                            It’s Time For a New Adventure! Don’t Wait Any Longer. Contact us!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <a href="#" class="nir-btn">Fine More Destination</a>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- content-line ends -->

    <!-- testomonial start -->
    <section class="testimonial pb-6">
        <div class="container">
            <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
                <h2 class="m-0">What <span>People Say About Us</span></h2>
                <p class="mb-0">Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
            </div> 
            <div class="row review-slider">
                <div class="col-sm-4 item">
                    <div class="testimonial-item1 text-center">
                        <div class="details">
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
                        </div>
                        <div class="author-info mt-2">
                            <a href="#"><img src="{% static 'testimonial/img1.jpg'%}" alt=""></a>
                            <div class="author-title">
                                <h4 class="m-0 pink">Jared Erondu</h4>
                                <span>Supervisor</span>
                            </div>
                        </div>
                        <i class="fa fa-quote-left mb-2"></i>
                    </div>
                </div>
                <div class="col-sm-4 item">
                    <div class="testimonial-item1 text-center">
                        <div class="details">
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem  Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
                        </div>
                        <div class="author-info mt-2">
                            <a href="#"><img src="{% static 'testimonial/img2.jpg'%}" alt=""></a>
                            <div class="author-title">
                                <h4 class="m-0 pink">Cadic Vegeta</h4>
                                <span>Sr. Chef</span>
                            </div>
                        </div>
                        <i class="fa fa-quote-left mb-2"></i>
                    </div>
                </div>
                <div class="col-sm-4 item">
                    <div class="testimonial-item1 text-center">
                        <div class="details">
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
                        </div>
                        <div class="author-info mt-2">
                            <a href="#"><img src="{% static 'testimonial/img3.jpg'%}" alt=""></a>
                            <div class="author-title">
                                <h4 class="m-0 pink">Jonathan Beri</h4>
                                <span>Manager</span>
                            </div>
                        </div>
                        <i class="fa fa-quote-left mb-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial ends --> 

    <!-- client start -->
    <div class="partners bg-grey pt-4 pb-4">
        <div class="container-fluid">
            <div class="row attract-slider">
                <div class="col-sm-2">
                    <div class="client-logo item">
                    <a href="#">
                        <img src="{% static 'clients/logo-01.png'%}" alt="" />
                    </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-02.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-03.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-04.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-02.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-03.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-04.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-01.png'%}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="client-logo item">
                        <a href="#">
                            <img src="{% static 'clients/logo-02.png'%}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- client ends -->

    {% endblock %}