 {% extends 'base.html' %}
{% load static %}
{% block content %}

   <!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-0" style="background-image: url({% static 'bg/bg8.jpg'%});">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Blog </h2>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- blog starts -->
    <section class="blog blog-fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="listing-inner">
                        <div class="list-results d-flex align-items-center justify-content-between">
                            <div class="list-results-sort">

                            </div>
                            <div class="click-menu d-flex align-items-center justify-content-between">
                               <div class="sortby d-flex align-items-center justify-content-between ml-2">

                                </div>
                            </div>
                        </div>
                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                            <a href="blog_single_pages" style="background-image: url({% static 'blog/blog3.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Mar 15, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Visiting London on a Budget: Top City Views</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row flex-row-reverse w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog_single_pages" style="background-image: url({% static 'blog/blog1.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Mar 15, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Bring to the table win-win survival strategies</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#"><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog2.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Apr 20, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Top 8 Amazing Places to Stay in Canada</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros.</p> 
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row flex-row-reverse w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog3.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Feb 21, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">DevOps. Nanotechnology immersion along</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog4.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Jun 10, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Top 8 Amazing Places to Stay in Canada</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row flex-row-reverse w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog5.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Mar 15, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Capitalize on low hanging fruit to identify</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog6.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Jul 13, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">At the end of the day, going forward, a new normal</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row flex-row-reverse w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog3.jpg'%});"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Mar 26, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Bring to the table win-win survival strategies</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                   <div class="blog-image">
                                        <a href="blog-single.html" style="background-image: url({% static 'blog/blog5.jpg'%});"></a>
    
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content">
                                        <span class="h-date pink mb-1 font-weight-light d-block"> Dec 8, 2020</span>
                                        <h3 class="mb-2"><a href="#" class="">Leverage agile frameworks to provide a robust</a></h3>
                                        <p class="date-cats mb-0 border-t pt-2 pb-2">
                                            <a href="#" class="mr-2"><i class="fa fa-file"></i> Categories</a> <a href="#" class=""><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                        </p> 
                                        <p class="mb-2 border-t pt-2">Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue.</p>  
                                        <a href="#" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pagination-main text-center">
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog Ends -->  
{% endblock %}