{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-0" style="background-image: url({% static 'bg/bg8.jpg'%});">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Gallery Masonry</h2>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery Masonry</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- Gallery starts -->
    <div class="gallery pb-6 pt-10">
        <div class="container">
            <div class="row blog-main">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending3.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending3.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'destination/destination10.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending10.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending2.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending2.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending4.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending4.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending4.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending4.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending5.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending5.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending6.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'trending/trending6.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'destination/destination4.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'destination/destination4.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'destination/destination3.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'destination/destination3.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'trending/trending5.jpg'%}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="{% static 'destination/destination5.jpg'%}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Ends -->
{% endblock %}